h1 {
    font-size: 350%
}
button {
    height: 50px;
    width: 100px;
    font-size: 25px;
}
#maleImage {
    position: fixed;
    visibility: hidden;
}
#femaleImage {
    position: fixed;
    visibility: visible;
}
